.group-space-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 98, 115);
    padding: 0px;
    border-radius: 5px;
    margin-top: 0px;
    z-index: 2;
    position: relative;
}

.group-space-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 3px;
    color: #fff;
}

.group-space-action:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: black;
}

.group-space-action span:not(.dashicons) {
    font-size: 15px;
    margin-bottom: 0;
}

#group-space-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}
.toolbar-modal-content {
    background-color: #fff;
    border-radius: 5px;
    max-width: 780px;
    width: 90%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}
.close {
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.inner_content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 20px;
    border-top: 1px solid #e5e5e5;
}
.modal-footer button {
    margin-left: 10px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, #bd1f8e, #a1e1a1, #283fc6);
    background-size: 600% 600%;
    border-radius: 5px;
    margin: 10px 0 10px auto;
    overflow: hidden;
    animation: progress-animation 5s infinite;
    display: none;
    float: left;
}

@keyframes progress-animation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.toolbar-spacer {
    color: var(--darkgray);
}
@media screen and (max-width: 782px) {
    .group-space-toolbar {
        margin-right: 0;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

}
